* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}
html, body {
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 16px;
}
.section-title {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    @include watch {
        font-size: 1.3rem;
    }
    @include phone {
        font-size: 1.5rem;
    }
}
